In [38]:
import pandas as pd
df = pd.read_csv('/content/sample_data/Customer_Personality_Analysis.csv')
print("Initial shape:", df.shape)
print("\nData types:\n", df.dtypes)

Initial shape: (2240, 1)

Data types:
 ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse    object
dtype: object

**1. Handle Missing Values**

In [39]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse    0
dtype: int64

**2. Remove Duplicates**

In [40]:
print("\nDuplicates found:", df.duplicated().sum())
df.drop_duplicates(inplace=True)

Duplicates found: 0

**3. Standardize Text Values**

In [41]:
if 'Gender' in df.columns:
    df['Gender'] = df['Gender'].str.strip().str.lower()

if 'Country' in df.columns:
    df['Country'] = df['Country'].str.strip().str.title()

**4. Convert Date Formats**

In [42]:
for col in df.columns:
    if df[col].dtype == 'object':
        try:
            df[col] = pd.to_datetime(df[col], dayfirst=True)
        except:
            pass

<ipython-input-42-91f4bee0b560>:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], dayfirst=True)

**5. Rename Column Headers**

In [43]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

**6. Fix Data Types**

In [44]:
if 'age' in df.columns:
    df['age'] = df['age'].astype(int)

In [45]:
cleaned_file_path = 'customer_personality.csv'
df.to_csv(cleaned_file_path, index=False)

In [46]:
print("\n Cleaned dataset saved to:", cleaned_file_path)
print("Final shape:", df.shape)
print("\nSample data:")
print(df.head())

 Cleaned dataset saved to: customer_personality.csv
Final shape: (2240, 1)

Sample data:
  id\tyear_birth\teducation\tmarital_status\tincome\tkidhome\tteenhome\tdt_customer\trecency\tmntwines\tmntfruits\tmntmeatproducts\tmntfishproducts\tmntsweetproducts\tmntgoldprods\tnumdealspurchases\tnumwebpurchases\tnumcatalogpurchases\tnumstorepurchases\tnumwebvisitsmonth\tacceptedcmp3\tacceptedcmp4\tacceptedcmp5\tacceptedcmp1\tacceptedcmp2\tcomplain\tz_costcontact\tz_revenue\tresponse
0  5524\t1957\tGraduation\tSingle\t58138\t0\t0\t0...
1  2174\t1954\tGraduation\tSingle\t46344\t1\t1\t0...
2  4141\t1965\tGraduation\tTogether\t71613\t0\t0\...
3  6182\t1984\tGraduation\tTogether\t26646\t1\t0\...
4  5324\t1981\tPhD\tMarried\t58293\t1\t0\t19-01-2...